In [70]:
import pandas as pd
import numpy as np

In [71]:
# making a dataframe
df = pd.DataFrame({np.random.randint(0, 100): np.random.rand(10) for _ in range(10)})
df

,79,97,95,49,99,24,83,58,77,54
0,0.169832,0.083741,0.024877,0.913033,0.592214,0.237032,0.899218,0.682899,0.057132,0.419948
1,0.715726,0.934746,0.046383,0.779218,0.852563,0.403497,0.351307,0.702302,0.175030,0.571681
2,0.348638,0.646790,0.253043,0.248458,0.506880,0.102541,0.866632,0.339623,0.155157,0.997799
3,0.445794,0.442346,0.110459,0.066094,0.231618,0.981408,0.636670,0.159092,0.513213,0.986046
4,0.213986,0.430375,0.300846,0.666332,0.132590,0.747071,0.277911,0.781255,0.457060,0.043375
5,0.456367,0.706548,0.148311,0.894478,0.257242,0.642408,0.396992,0.239176,0.761767,0.245492
6,0.245639,0.419533,0.169320,0.599329,0.773609,0.924274,0.231867,0.758161,0.776479,0.076909
7,0.555639,0.217889,0.891257,0.148321,0.570661,0.072082,0.288100,0.249127,0.345719,0.116196
8,0.061422,0.080295,0.543694,0.272302,0.871336,0.331946,0.772358,0.023589,0.333533,0.524878
9,0.850610,0.867440,0.220128,0.714558,0.961585,0.269239,0.397203,0.693986,0.761145,0.355358

In [72]:
print(2*10^308) # python can handle large numbers till 1*10^308

288

In [73]:
# datatypes in python
# int, float, str, bool, complex, bytes, bytearray, range, list, tuple, set, frozenset, dict, None
# int 
a = 5, 6, 7, 8, 9
print(a) # int
# float
b = 5.0, 6.0, 7.0, 8.0, 9.0
print(b) # float
# str
c = "hello, world!"
print(c) # str
# bool
d = True, False
print(d) # bool
# complex
e = 5 + 6j, 7 + 8j
print(e) # complex
# range
f = range(5)
print(f) # range
# list
g = [5, 6, 7, 8, 9]
print(g) # list
# tuple
h = (5, 6, 7, 8, 9)
print(h) # tuple
# set
i = {5, 6, 7, 8, 9}
print(i) # set
# frozenset
j = frozenset({5, 6, 7, 8, 9})
print(j) # frozenset
# dict
k = {5: 6, 7: 8, 9: 10}
print(k) # dict
# None
l = None
print(l) # None

(5, 6, 7, 8, 9)
(5.0, 6.0, 7.0, 8.0, 9.0)
hello, world!
(True, False)
((5+6j), (7+8j))
range(0, 5)
[5, 6, 7, 8, 9]
(5, 6, 7, 8, 9)
{5, 6, 7, 8, 9}
frozenset({5, 6, 7, 8, 9})
{5: 6, 7: 8, 9: 10}
None

In [74]:
# bytes 
f = b'5'
print(f)
# bytearray
g = bytearray('579', encoding='utf-8')
print(g)

b'5'
bytearray(b'579')

In [75]:
# Identifiers in python
# Identifiers are the names given to the variables, functions, classes, etc. in Python.

In [76]:
a = True + 4 # True is a boolean value and its values is 1
b = False + 10 # False is a boolean value and its value is 0

print(a, b)

5 10

In [77]:
number = int(input("Enter a number: "))

a = number % 10
number = number // 10
b = number % 10
number = number // 10
c = number % 10
number = number // 10

print(a, b, c, number)
print(a + b + c)

5 0 0 0
5

In [78]:
# if else and elif statements
email = input("Enter your email: ")
password = input("Enter your password: ")

if email == 'abc@gmail.com' and password == '1234':
    print("Welcome to the dashboard")
elif email == 'abc@gmail.com' and password != '1234':
    print("Invalid password")
    password = input("Enter your password: ")
    if password == '1234':
        print("Welcome to the dashboard")
    else:
        print("Invalid password")
else:
    print("Invalid email or password")

Invalid email or password

In [79]:
# min of 3 number
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a < b and a < c:
    print(a)
elif b < a and b < c:
    print(b)
else:
    print(c)

2

In [80]:
# math module
import math

In [81]:
# keywords module 
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [82]:
# random module
import random
print(random.randint(1,100))

13

In [83]:
# datetime module
import datetime
print(datetime.datetime.now())

2024-02-19 11:20:48.404892

In [85]:
# Loops in Python (for loop, while loop, nested loop)
# while loop
number = int(input("Enter a number: "))
i = 1
while i <= 10:
    print(f"The {number} * {i} = {number * i}")
    i += 1

The 7 * 1 = 7
The 7 * 2 = 14
The 7 * 3 = 21
The 7 * 4 = 28
The 7 * 5 = 35
The 7 * 6 = 42
The 7 * 7 = 49
The 7 * 8 = 56
The 7 * 9 = 63
The 7 * 10 = 70

In [86]:
# while loop with else
x = 1 
while x < 4:
    print(x)
    x += 1

else:
    print("x is no longer less than 4")

1
2
3
x is no longer less than 4

In [87]:
# guessing game
# generate a random onteger 1 to 100
import random
jackpot = random.randint(1, 100)
# take a guess from the user
guess = int(input("Enter your guess: "))
counter = 1
while guess != jackpot:
    if guess < jackpot:
        print("Too low")
    else:
        print("Too high")
    guess = int(input("Enter your guess: "))
    counter += 1
else:
    print("You have guessed the correct number")
    print(f"You have guessed the number in {counter} attempts")

Too low
Too low
Too low
Too low
Too low
Too low
Too low
Too low
Too low
Too low
Too high
Too low
Too low
Too low
Too high
Too high
Too low
Too low
Too low
Too low
Too low
You have guessed the correct number
You have guessed the number in 22 attempts

In [88]:
# for loop
for i in range(1, 32, 4): # i in loop used for iteration
    print(i)

1
5
9
13
17
21
25
29

In [89]:
for i in range(8, 0, -1):
    print(i)

8
7
6
5
4
3
2
1

In [90]:
for i in 'Lahore': # i could be iterated over a string, list, tuple, set, dict, etc.
    print(i)

L
a
h
o
r
e

In [91]:
# example of for loop for a population of a town, which is incresing by 5% every year, and its current population
# is 10000, and we want to find the population after 10 years
curr_pop_pak = 241490000

for i in range(1, 11):
    print(i, curr_pop_pak)
    curr_pop_pak = curr_pop_pak + (curr_pop_pak * 2.55) / 100

    print(f"the population of the Pakistan after each year with the current rate of growth will be \n {curr_pop_pak} this is for the coming 10 years")

1 241490000
the population of the Pakistan after each year with the current rate of growth will be
 247647995.0 this is for the coming 10 years
2 247647995.0
the population of the Pakistan after each year with the current rate of growth will be
 253963018.8725 this is for the coming 10 years
3 253963018.8725
the population of the Pakistan after each year with the current rate of growth will be
 260439075.85374874 this is for the coming 10 years
4 260439075.85374874
the population of the Pakistan after each year with the current rate of growth will be
 267080272.28801933 this is for the coming 10 years
5 267080272.28801933
the population of the Pakistan after each year with the current rate of growth will be
 273890819.23136383 this is for the coming 10 years
6 273890819.23136383
the population of the Pakistan after each year with the current rate of growth will be
 280875035.1217636 this is for the coming 10 years
7 280875035.1217636
the population of the Pakistan after each year with the current rate of growth will be
 288037348.51736856 this is for the coming 10 years
8 288037348.51736856
the population of the Pakistan after each year with the current rate of growth will be
 295382300.90456146 this is for the coming 10 years
9 295382300.90456146
the population of the Pakistan after each year with the current rate of growth will be
 302914549.5776278 this is for the coming 10 years
10 302914549.5776278
the population of the Pakistan after each year with the current rate of growth will be
 310638870.5918573 this is for the coming 10 years

In [92]:
curr_pop = 10000

for i in range(10, 0, -1):
    print(i, curr_pop)
    curr_pop = curr_pop/1.05

10 10000
9 9523.809523809523
8 9070.294784580497
7 8638.375985314759
6 8227.024747918817
5 7835.261664684587
4 7462.153966366273
3 7106.813301301212
2 6768.393620286868
1 6446.089162177969

In [93]:
n = int(input('enter n: '))
result = 0
fact = 1

for i in range(1, n+1):
    fact = fact * i
    result = result + i / fact

print(result)

2.7166666666666663

In [94]:
for i in range(1, 5):
    for j in range(1, 5):
        print(i, j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [95]:
# Pattern 1
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end=" ")

1 1 2 1 2 3 1 2 3 4 1 2 3 4 5

In [96]:
rows = int(input("Enter the number of rows: "))

for i in range(1, rows+1):
    for j in range(1, i+1):
        print('*', end="")
    print()

*
**
***
****

In [97]:
rows = int(input("enter number of rows "))

for i in range(1, rows+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1, 0, -1):
        print(k, end='')
    print()

1
121
12321
1234321
123454321
12345654321

In [98]:
rows = int(input('enter the number '))

for i in range(1, rows+1):
    for j in range(1, i+1):
        print(j, end='')
    for k in range(i-1, 0, -1):
        print(k, end='')
    print()

1
121
12321

In [99]:
# break and continue statements
for i in range(1, 12):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

In [100]:
lower = int(input("enter lower range: "))
upper = int(input("enter upper range: "))

for i in range(lower, upper+1):
    for j in range(2, i):
        if i % j == 0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [101]:
# continue statement
for i in range(1, 10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [102]:
# pass statement
for i in range(1, 10):
    pass

In [103]:
s = 'hello world'
print(s[0])

h

In [104]:
print(s[0:5])

hello

In [105]:
print(s[-3])

r

In [106]:
print(s[0:6:3]) # slicing with step

hl

In [107]:
print(s[6:0:-2])

wol

In [108]:
print(s[::-1]) # reverse the string

dlrow olleh

In [109]:
s = 'hello world'
print(s[-5:])

world

In [110]:
print(s[-1:-6:-1]) # reverse of one string word

dlrow

In [111]:
s = 'hello world'
print(s.upper()) # upper case

HELLO WORLD

In [112]:
s = 'HELLO WORLD'
print(s.lower()) # lower case

hello world

In [113]:
s = 'hello world'
print(s.capitalize()) # capitalize the first letter of the string

Hello world

In [114]:
s = 'hello world'
# s[0] = 'H' # strings are immutable

In [115]:
# delete the string
s = 'hello world'
del s
# print(s) # the string has been deleted

In [116]:
s = 'hello world'
# del s[-1:-5:2] # the portions of the string can not be deleted
print(s)

hello world

In [117]:
# arithmetic operators
# relational operators
# logical operators
# loop on strings
# membership operators

In [118]:
print('lahore' + ' ' + 'karachi') # arithmetic operator + and * can be used with strings only

lahore karachi

In [119]:
print('Lahore '*3)

Lahore Lahore Lahore

In [120]:
print("*"*50)

**************************************************

In [121]:
# Relational Operators
'Lahore' != 'Lahore'

False

In [122]:
'Lahore' > 'Multan'
# in this scenario the comparison is done on the basis of the ASCII values of the characters of the strings
# It is also called Lexicographical comparison, in this the comparison operator takes the last values as bigger than the first values.

False

In [123]:
# logical operators
# and, or, not
'hello' and 'world' # the and operator returns the second value if the first value is true

'world'

In [124]:
'hello' or 'world' # the or operator returns the first value if the first value is true

'hello'

In [125]:
# in python the empty strings consider as false and the non empty strings consider as true
# the empty list, tuple, set, dict, etc. consider as false and the non empty list, tuple, set, dict, etc. consider as true
# the 0 consider as false and the non zero values consider as true
# in the "and" operator if the both values are true then returns True otherwise returns False
# in the "or" operator if the both values are false then returns False otherwise returns True

In [126]:
'' and 'world'

''

In [127]:
'' or 'world'

'world'

In [128]:
not ''

True

In [129]:
not 'hello'

False

In [130]:
# loops in strings
for i in 'hello': # the string is iterable, so it can be iterated over
    print(i)

h
e
l
l
o

In [131]:
for i in 'Lahore': 
    print('Multan')

Multan
Multan
Multan
Multan
Multan
Multan

In [132]:
# common functions of strings
# len, max, min, sorted, reversed, 
# join, split, replace, find, index, count, 
# isalpha, isdigit, isalnum, islower, isupper, 
# istitle, isspace, startswith, endswith,
# lower, upper, capitalize, title, swapcase, 
# center, ljust, rjust, strip, lstrip, rstrip, zfill,
# format, format_map, encode, decode, expandtabs,
# casefold, translate, maketrans, partition, rpartition,
# rfind, rindex, rsplit, rstrip, splitlines, translate,
# isascii, isdecimal, isidentifier, isnumeric, isprintable,
# center, ljust, rjust, zfill, format, format_map, encode,
# decode, expandtabs, casefold, translate, maketrans, partition,
# rpartition, rfind, rindex, rsplit, rstrip, splitlines, translate,
# isascii, isdecimal, isidentifier, isnumeric, isprintable

In [133]:
len('hello world')

11

In [134]:
max('hello world') # maximum value of the string on the ASCII basis

'w'

In [135]:
min('hello world') # minimum value of the string on the ASCII basis

' '

In [136]:
sorted('hello world') # sort the string on the ASCII basis

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [137]:
sorted('hello world', reverse=True) # sort the string on the ASCII basis

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [138]:
# some functions that are used only with the strings
# capitalize, title, swapcase, lower, upper, casefold,

In [139]:
s = 'hello world'
s.capitalize() # capitalize the first letter of the string

'Hello world'

In [140]:
s = 'hello world'
s.title() # capitalize the first letter of each word of the string

'Hello World'

In [141]:
s.swapcase() # swap the case of the string

'HELLO WORLD'

In [142]:
s = 'hello world'
s.upper() # convert the string into upper case

'HELLO WORLD'

In [143]:
s.lower() # convert the string into lower case

'hello world'

In [145]:
s.casefold() # convert the string into lower case

'hello world'

In [144]:
# count, find, index, replace, split, join

In [147]:
a = 'my name is Hasnain'
a.count('i')

2

In [148]:
a.find('is')

8

In [150]:
a.find('x')

-1

In [149]:
a.index('is')

8

In [155]:
a.replace('Hasnain', 'Haroon') # replace the first value with the second value

'my name is Haroon'

In [156]:
a.split(' ')

['my', 'name', 'is', 'Hasnain']

In [162]:
a.join(' ') # join the string with the given value
a

'my name is Hasnain'

In [163]:
# endswith, startswith 
'my name is haroon'.endswith('on')

True

In [164]:
'my name is haroon'.startswith('my')

True

In [169]:
# format, format_map
name = 'haroon'
gender = 'male'
age = 35

# 'Hi my name is {}, I am a {}, and my age is {}'.format(name, gender, age) # first method
b = 'Hi my name is {}, I am a {}, and my age is {}'
b.format(name, gender, age) # second method # use as per the positioning of the values

'Hi my name is haroon, I am a male, and my age is 35'

In [170]:
# isalnum, isalpha, isdigit, isidentifier

In [171]:
'haroon669'.isalnum()

True

In [172]:
'haroon@669'.isalnum()

False

In [174]:
'haroon'.isalpha()

True

In [175]:
'haroon669'.isalpha()

False

In [176]:
'669'.isdigit()

True

In [177]:
'abd669'.isdigit()

False

In [178]:
'1name'.isidentifier()

False

In [179]:
'name1'.isidentifier()

True

In [180]:
'first_name'.isidentifier()

True

In [187]:
# split and join

'hi my name is haroon'.split() # we use split on spaces or other delimiters or characters

['hi', 'my', 'name', 'is', 'haroon']

In [188]:
' '.join(['hi', 'my', 'name', 'is', 'haroon']) # we use join to join the strings with the given delimiter

'hi my name is haroon'

In [190]:
# replace
'hi my name is haroon'.replace('haroon', 'hasnain') # first value is being replaced with the second value

'hi my name is hasnain'

In [191]:
# strip
'    hello world    '.strip() # remove the spaces from the start and end of the string

'hello world'

In [1]:
# find the length of the string
s = input("Enter a string: ")

counter = 0
for i in s:
    counter += 1
    
print('length of string is: ', counter)

length of string is:  7

In [3]:
# extract the name from the email
s = input("Enter a email: ")

position = s.index('@')
print(s[0:position])

hasnain

In [5]:
# count the frequency of the particular character in the string

s = input("Enter a string: ")
term = input("what would you like to search: ")

counter = 0
for i in s:
    if i == term:
        counter += 1

print(f"The frequency of the '{term}' in the string is: {counter}")

The frequency of the 'o' in the string is: 3

In [7]:
# remove the particular character from the string
s = input("Enter a string: ")
term = input("what would you like to remove: ")

new_s = ''

for i in s:
    if i != term:
        new_s += i 

print(new_s)

hasai

In [9]:
# check the palindrome

s = input("enter the string: ")
flag = True
for i in range(0, len(s)//2):
    if s[i] != s[len(s) -i -1]:
        flag = False
        print('Not a Palindrome')
        break

if flag:
    print('Palindrome')

Palindrome

In [13]:
s = input("Enter a string: ")
L = []
word = ''
for i in s:
    if i != ' ':
        word = word + i
    else:
        L.append(word)
        word = ''
L.append(word)
print(L)

['hi', 'how', 'are', 'you']

In [16]:
# covert a string's first letter in upper case without using the title function
s = input("Enter a string: ")

L = []
for i in s.split():
    L.append(i[0].upper() + i[1:])

print(" ".join(L))

Hi How Are You

In [19]:
# convert an integer into a string without using the str function
number = int(input("Enter a number: "))

digits = '0123456789'

result = ''
while number != 0:
    result = digits[number % 10] + result
    number = number // 10

print(result)
print(type(result))

480
<class 'str'>

In [ ]:
# for resume portfolio
# good sites
# htmlup

# List

In [ ]:
# in list we can store the multiple values of the same or different datatypes
# list is mutable, # list is iterable, # list is ordered, # list is indexed, # list is dynamic
# list can be nested, # list can be sliced, # list can be concatenated, # list can be repeated 
# list can be iterated over the loop, # list can be sorted, # list can be reversed, # list can be copied
# list can be extended, # list can be appended, # list can be inserted, # list can be removed
# list can be popped, # list can be cleared, # list can be checked for the particular value

# list can be created by using the square brackets

In [21]:
a = 2 
print(id(a)) # id is the address of the variable in the memory, it is unique for each variable

140714423522120

In [23]:
L = [5, 6, 7, 8, 9]

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(L[3]))
print(id(L[4]))
print(id(5))
print(id(6))
print(id(7))
print(id(8))
print(id(9)) # the id of the list and the id of the elements of the list are different in the memory

2617770484992
140714423522216
140714423522248
140714423522280
140714423522312
140714423522344
140714423522216
140714423522248
140714423522280
140714423522312
140714423522344

In [24]:
# list is a dynamic array, it can store the multiple values of the same or different datatypes

In [26]:
# creating a list
# empty list
L = []
print(L)

[]

In [27]:
# iD list
L = [5, 6, 7, 8, 9]
print(L)

[5, 6, 7, 8, 9]

In [30]:
# 2D list
L = [5, 6, 7, 8, 9, 10, [11, 12, 13]]
print(L)

[5, 6, 7, 8, 9, 10, [11, 12, 13]]

In [34]:
# 3D list 
L = [[[5, 6, 7], [8, 9, 10]], [[11, 12, 13], [14, 15, 16]]]
print(L)

[[[5, 6, 7], [8, 9, 10]], [[11, 12, 13], [14, 15, 16]]]

In [35]:
# hetregenous list
L = [5, 6, 7, 8, 9, 'hello', 'world', 5.5, 6.6, 7.7]
print(L)

[5, 6, 7, 8, 9, 'hello', 'world', 5.5, 6.6, 7.7]

In [36]:
# using type conversion function
L = list('hello world')
print(L)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [37]:
print(list('hello world'))

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [40]:
# accessing itmes from a list
# indexing
L = [5, 6, 7, 8, [9, 10]]
print(L[0]) # positive indexing
print(L[-1]) # negative indexing
print(L[-1][-2]) # nested indexing

5
[9, 10]
9

In [53]:
# slicing
L = [5, 6, 7, 8, 9, 10]
print(L[:-1]) # positive slicing
print(L[::-1]) # negative slicing

[5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5]

In [54]:
# append and extend and insert
L = [1, 2, 3, 4, 5]
L.append(6) # append the value at the end of the list
print(L)

[1, 2, 3, 4, 5, 6]

In [57]:
# extend
L = [1, 2, 3, 4, 5]
L.extend([6, 7, 8, 9, 10]) # extend the list with the given list
print(L)
L.extend('hello world')
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [56]:
# insert 
L = [1, 2, 3, 4, 5]
L.insert(2, 6) # insert the value at the given index
print(L)

[1, 2, 6, 3, 4, 5]

In [59]:
# Editing a list
L = [1, 2, 3, 4, 5]
L[-1] = 100 # editing the value of the list
print(L)

L[1:4] = [200, 300, 400]
print(L)

[1, 2, 3, 4, 100]
[1, 200, 300, 400, 100]

In [60]:
# deleting items of a list
L = [1, 2, 3, 4, 5]
del L[2] # delete the value at the given index
print(L)

[1, 2, 4, 5]

In [61]:
# remove
L = [1, 2, 3, 4, 5]
L.remove(3) # remove the value from the list
print(L)

[1, 2, 4, 5]

In [62]:
# pop
L = [1, 2, 3, 4, 5]
L.pop(0) # remove the value from the list at the given index
print(L)

[2, 3, 4, 5]

In [63]:
# clear 
L = [1, 2, 3, 4, 5]
L.clear() # clear the list
print(L)

[]

In [64]:
# operations in list (arithmetic, memebership, loop)
# arithmetic operations
L1 = [1, 2, 3, 4, 5]
L2 = [6, 7, 8, 9, 10]
print(L1 + L2) # concatenation of the lists

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
print(L1 * 3) # repetition of the list

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [66]:
L1 = [1, 2, 3, 4, 5]
L2 = [6, 7, 8, 9, 10]

print(5 in L1) # membership operator    
print(5 not in L1) # membership operator

True
False

In [68]:
# loops in list
L1 = [1, 2, 3, 4, 5]
L2 = [6, 7, 8, [9, 10]]

for i in L2:
    print(i)

6
7
8
[9, 10]

In [69]:
L = [[[5, 6, 7], [8, 9, 10]], [[11, 12, 13], [14, 15, 16]]]
for i in L:
    for j in i:
        for k in j:
            print(k)

5
6
7
8
9
10
11
12
13
14
15
16

In [70]:
L = [[[5, 6, 7], [8, 9, 10]], [[11, 12, 13], [14, 15, 16]]]
for i in L:
    print(i)

[[5, 6, 7], [8, 9, 10]]
[[11, 12, 13], [14, 15, 16]]

In [72]:
# functions of list
L = [5, 6, 7, 8, 9, 10]
print(len(L)) # length of the list
print(max(L)) # maximum value of the list
print(min(L)) # minimum value of the list
print(sorted(L)) # sort the list    
print(reversed(L)) # reverse the list

6
10
5
[5, 6, 7, 8, 9, 10]
<list_reverseiterator object at 0x000002617F736170>

In [73]:
# count
L = [5, 6, 7, 8, 9, 10, 5, 6, 7, 8, 9, 10]
print(L.count(5)) # count the frequency of the value in the list

2

In [74]:
# index
L = [5, 6, 7, 8, 9, 10]
print(L.index(5)) # index of the value in the list

0

In [75]:
# reverse
L = [5, 6, 7, 8, 9, 10]
L.reverse() # reverse the list
print(L)

[10, 9, 8, 7, 6, 5]

In [81]:
# sort
L = [8, 5, 10, 7, 4, 3]
print(L)
print(sorted(L)) # sort the list
print(L)
L.sort() # sort the list
print(L)

[8, 5, 10, 7, 4, 3]
[3, 4, 5, 7, 8, 10]
[8, 5, 10, 7, 4, 3]
[3, 4, 5, 7, 8, 10]

In [82]:
# copy
L = [5, 6, 7, 8, 9, 10]
print(L)
print(id(L))
L1 = L.copy() # copy the list
print(L1)
print(id(L1))

[5, 6, 7, 8, 9, 10]
2617777515264
[5, 6, 7, 8, 9, 10]
2617777698752

In [83]:
L = [5, 6, 7, 8, 9, 10]
print(L[::-1])

[10, 9, 8, 7, 6, 5]

In [86]:
# List comprehension
# List comprehension is a way to create a list in a single line of code
# expression for item in iterable if condition is True
L = []

for i in range(1, 11):
    L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [88]:
L = [i for i in range(1, 11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [90]:
# scalar multiplication on a vector
v = [2,3,4]
s = -3
# using loop
# x = []
# for i in v:
#     x.append(i*s)
# print(x)
# using list comprehension
x = [s*i for i in v]
print(x)

[-6, -9, -12]

In [92]:
# add squares
L = [1, 2, 3, 4, 5]

# using list comprehension
L1 = [i**2 for i in L]
print(L1)

[1, 4, 9, 16, 25]

In [93]:
# print all numbers divisible by 5 in the range of 1 to 50

L = [i for i in range(1, 51) if i % 5 == 0]
print(L)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [94]:
# find languages that starts with letter 'p'
languages = ['python', 'java', 'c', 'c++', 'php', 'javascript', 'perl', 'ruby', 'pascal', 'swift', 'kotlin']

Languages = [i for i in languages if i[0] == 'p']
print(Languages)

['python', 'php', 'perl', 'pascal']

In [95]:
# nested if with list comprehension
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
my_fruits = ['apple', 'kiwi', 'guava', 'mango']

# adding new list from my_fruits to basket if the fruit exists in basket and also starts with 'a'

new_fruits = [fruits for fruits in my_fruits if fruits in basket if fruits.startswith('a')]
print(new_fruits)

['apple']

In [98]:
# print a (3, 3) matrix using list comprehension -> nested list comprehension
matrix = [[i*j for i in range(1, 4)] for j in range(1, 4)]
print(matrix)

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [100]:
matrix = [[i for i in range(1, 4)] for j in range(1, 4)]
print(matrix)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [101]:
matrix = [i for i in range(1, 4) for j in range(1, 4)]
print(matrix)

[1, 1, 1, 2, 2, 2, 3, 3, 3]

In [103]:
# cartesian products -> list comprehension on 2 lists together
A = [1, 2, 3, 4]
B = [5, 6, 7, 8]

cartesian_products = [i*j for i in A for j in B]
print(cartesian_products)

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [104]:
# ways to traverse a list  (itemwise, indexwise)
# itemwise
L = [5, 6, 7, 8, 9, 10]
for i in L:
    print(i)

5
6
7
8
9
10

In [105]:
# indexwise
L = [5, 6, 7, 8, 9, 10]

for i in range(len(L)):
    print(L[i])

5
6
7
8
9
10

In [108]:
# Zip function in python (zip, enumerate, map, filter, reduce)
# zip function is used to combine the lists together

L1 = [5, 6, 7, 8, 9, 10]
L2 = [11, 12, 13, 14, 15, 16]

list(zip(L1, L2))

[i+j for i,j in zip(L1, L2)]

[16, 18, 20, 22, 24, 26]

In [109]:
L = [1, 2, print, type, input]
print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000002617F3DF150>>]

In [110]:
# enumerate function
# enumerate function is used to get the index and the value of the list together
L = [5, 6, 7, 8, 9, 10]
for i, j in enumerate(L):
    print(i, j)

0 5
1 6
2 7
3 8
4 9
5 10

In [111]:
# map function
# map function is used to apply a function on the list
L = [5, 6, 7, 8, 9, 10]
def square(x):
    return x**2

list(map(square, L))

[25, 36, 49, 64, 81, 100]

In [112]:
# filter function
# filter function is used to filter the list on the basis of the condition
L = [5, 6, 7, 8, 9, 10]
def even(x):
    return x % 2 == 0

list(filter(even, L))

[6, 8, 10]

# tuples

In [120]:
# creating tuples
# empty tuple
t1 = ()
print(t1)
# how to crate a tuple with single element
t2 = (2,)
print(t2)
# homogeneous tuple
t3 = (2, 3, 4, 5, 6)
print(t3)
# heterogeneous tuple
t4 = (2, 3, 4, 'hello', 'world', 5.5, 6.6)
print(t4)
# nested tuple
t5 = (2, 3, 4, (5, 6, 7, 8))
print(t5)
# using type conversion function
t6 = tuple('hello world')
print(t6)

()
(2,)
(2, 3, 4, 5, 6)
(2, 3, 4, 'hello', 'world', 5.5, 6.6)
(2, 3, 4, (5, 6, 7, 8))
('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [131]:
# indexing and slicing in tuple
t = (2, 3, 4, 5, 6, 7, 8, 9, 10)
print(t[0])
print(t[-1])
print(t[0:5])
print(t[2:7:2])
print(t[::-1])
print(t[-1:-6:-1])

2
10
(2, 3, 4, 5, 6)
(4, 6, 8)
(10, 9, 8, 7, 6, 5, 4, 3, 2)
(10, 9, 8, 7, 6)

In [127]:
# editing a tuple
t = (2, 3, 4, 5, 6, 7, 8, 9, 10)
# t[0] = 100 # tuples are immutable

In [128]:
# adding items
t = (2, 3, 4, 5, 6, 7, 8, 9, 10)
# not possible to add items in the tuple

In [130]:
# deleting items
t = (2, 3, 4, 5, 6, 7, 8, 9, 10)
# not possible to delete items from the tuple, but complete tuple can be deleted

In [133]:
# operations in tuple (arithmetic, membership, loop)
# + and * operators
t1 = (2, 3, 4, 5, 6)
t2 = (7, 8, 9, 10)
print(t1 + t2)
print(t1 * 3)
# membership operators
t = (2, 3, 4, 5, 6, 7, 8, 9, 10)
print(5 in t)
print(5 not in t)
# iteration or loop
t = (2, 3, 4, 5, 6, 7, 8, 9, 10)
for i in t:
    print(i)

(2, 3, 4, 5, 6, 7, 8, 9, 10)
(2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6)
True
False
2
3
4
5
6
7
8
9
10

In [134]:
# tuple functions
# len, max, min, sorted, reversed, sum, count, index
t = (2, 3, 4, 5, 6, 7, 8, 9, 10)
print(len(t))
print(max(t))
print(min(t))
print(sorted(t))
print(reversed(t))
print(sum(t))
print(t.count(5))
print(t.index(5))

9
10
2
[2, 3, 4, 5, 6, 7, 8, 9, 10]
<reversed object at 0x000002617F71F850>
54
1
3

In [1]:
# difference between list and tuple
# list is mutable, tuple is immutable
# list is dynamic, tuple is static

import time 
L = list(range(10000000))
T = tuple(range(10000000))

start = time.time()
for i in L:
    i*5

print('List time: ', time.time() - start)

start = time.time()
for i in T:
    i*5

print('Tuple time: ', time.time() - start)

List time:  0.8176496028900146
Tuple time:  0.9252519607543945

In [2]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size: ', sys.getsizeof(L))
print('Tuple size: ', sys.getsizeof(T))

List size:  8056
Tuple size:  8040

In [3]:
# why use tuple
# tuple is faster than list
# tuple is used to store the constant values

In [4]:
# tuple unpacking
t = (2, 3, 4, 5, 6)
a, b, c, d, e = t
print(a, b, c, d, e)

2 3 4 5 6

In [5]:
# value swap
a = 5
b = 6
a, b = b, a
print(a, b)

6 5

In [6]:
a,b, *others = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(a, b, others)

1 2 [3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# zippping
L1 = [5, 6, 7, 8, 9, 10]
L2 = [11, 12, 13, 14, 15, 16]

tuple(zip(L1, L2))

((5, 11), (6, 12), (7, 13), (8, 14), (9, 15), (10, 16))

In [8]:
# in tuples all writable operations are not allowed, but in list allowed

# Sets

In [9]:
# Set is a collection of unique elements, it is unordered and unindexed, 
# it is mutable, it is iterable, it is dynamic, it is nested, it is sliced,

In [18]:
# create a set 
# empty set
s = set()
print(s)
print(type(s))
# 1D & 2D set
s = {5, 6, 7, 8, 9, 10}
print(s)
# s1 = {5, 6, 7, 8, 9, 10, {11, 12, 13, 14, 15, 16}}
# print(s1) # set can not be nested
# homemgeneous set
s = {5, 6, 7, 8, 9, 10}
print(s)
# heterogeneous set
s = {5, 6, 7, 8, 9, 10, 'hello', 1, True, 'world', 5.5, 6.6, 7.7}
print(s)
# using type conversion function
s = set('hello world')
print(s)
# duplicate values are not allowed in the set
s = {5, 6, 7, 8, 9, 10, 5, 6, 7, 8, 9, 10}
print(s)
# sets can't have mutable items
# s = {5, 6, 7, 8, 9, 10, [11, 12, 13, 14, 15, 16]}
# print(s)

set()
<class 'set'>
{5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{1, 5, 6, 7, 8, 9, 10, 'hello', 5.5, 6.6, 7.7, 'world'}
{'o', 'w', 'h', 'l', 'e', 'r', 'd', ' '}
{5, 6, 7, 8, 9, 10}

In [19]:
s1 = {5, 6, 7, 8, 9, 10}
s2 = {10, 9, 8, 7, 6, 5}

print( s1 == s2)

True

In [23]:
# set is not sliceable, editable, deletable (items)
# but can add, delete, and update the set

In [24]:
# set items can delete complete set, discard, remove, pop, clear

In [32]:
# operations of sets
# union, intersection, difference, symmetric difference, subset, superset, disjoint,
s1 = {5, 6, 7, 8, 9, 10, 11, 12, 13}
s2 = {10, 9, 8, 7}
print(s1.union(s2)) # union of the sets can print all items one times not duplicates, denotes as (|)
print(s1.intersection(s2)) # intersection of the sets can print the common items, denotes as (&)
print(s1.difference(s2)) # difference of the sets can print the items of the first set that are not
                        # in the second set, denotes as (-)
print(s1.symmetric_difference(s2)) # symmetric difference of the sets can print the items of the first
                                    # set that are not in the second set and the items of the second
                                    # set that are not in the first set, denotes as (^)
print(s1.issubset(s2)) # subset of the sets can check the first set is the subset of the second set,
                        # denostes as (<=)
print(s1.issuperset(s2)) # superset of the sets can check the first set is the superset of the second set
                            # denostes as (>=)
print(s1.isdisjoint(s2)) # disjoint of the sets can check the sets are disjoint or not

{5, 6, 7, 8, 9, 10, 11, 12, 13}
{8, 9, 10, 7}
{5, 6, 11, 12, 13}
{5, 6, 11, 12, 13}
False
True
False

In [31]:
# len, sum, min, max, sorted
s = {5, 6, 7, 8, 9, 10}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s))

6
45
5
10
[5, 6, 7, 8, 9, 10]

In [34]:
s1.update(s2) # update the set with the given set
print(s1)
print(s2)

s1.intersection_update(s2) # update the set with the intersection of the given set
print(s1)
print(s2)

{5, 6, 7, 8, 9, 10, 11, 12, 13}
{8, 9, 10, 7}
{8, 9, 10, 7}
{8, 9, 10, 7}

In [37]:
s1.difference(s2) 
print(s1)
print(s2)

s1.difference_update(s2) 
print(s1)
print(s2)

set()
{8, 9, 10, 7}
set()
{8, 9, 10, 7}

In [39]:
# copy
s = {5, 6, 7, 8, 9, 10}
print(s)
s1 = s.copy() # copy the set
print(s1)

{5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}

In [40]:
# Frozenset
# frozenset is an immutable set
# frozenset is used to store the constant values
L = [5, 6, 7, 8, 9, 10]
s = frozenset(L)
print(s)

frozenset({5, 6, 7, 8, 9, 10})

In [41]:
# 2D sets
fs = frozenset({5, 6, 7, 8, 9, 10, frozenset({11, 12, 13, 14, 15, 16})})
print(fs)

frozenset({frozenset({16, 11, 12, 13, 14, 15}), 5, 6, 7, 8, 9, 10})

In [42]:
# set comprehension
{i for i in range(1, 11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [43]:
{i for i in range(1, 11) if i > 5}

{6, 7, 8, 9, 10}

In [44]:
{i**2 for i in range(1, 10) if i < 5}

{1, 4, 9, 16}

# Dictionary

In [45]:
# dictionary in python (dict)
# dictionary is a collection of key value pairs
# dictionary is mutable, dictionary is dynamic, dictionary is nested, dictionary is sliced
# dictionary is iterable, dictionary is ordered, dictionary is indexed, keys are unique, values are not unique

In [47]:
# create a dictionary
# empty dictionary
d = {}
print(d)
# 1D & 2D dictionary
d = {1: 'one', 2: 'two', 3: 'three'}
print(d)
# homogeneous dictionary
d = {1: 'one', 2: 'two', 3: 'three'}
print(d)
# heterogeneous dictionary
d = {1: 'one', 2: 'two', 3: 'three', 'hello': 'world', 5.5: 6.6, 7.7: 8.8}
print(d)
# nested dictionary
d = {1: 'one', 2: 'two', 3: 'three', 'hello': 'world', 5.5: 6.6, 7.7: 8.8, 9: {10: 'ten', 11: 'eleven'}}
print(d)
# using type conversion function
d = dict({1: 'one', 2: 'two', 3: 'three'})
print(d)
# duplicate keys are not allowed in the dictionary
d = {1: 'one', 2: 'two', 3: 'three', 1: 'four'}
print(d)
# duplicate values are allowed in the dictionary
d = {1: 'one', 2: 'two', 3: 'three', 4: 'one'}
print(d)
# using sequence and dict function
d = dict([(1, 'one'), (2, 'two'), (3, 'three')])

{}
{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two', 3: 'three', 'hello': 'world', 5.5: 6.6, 7.7: 8.8}
{1: 'one', 2: 'two', 3: 'three', 'hello': 'world', 5.5: 6.6, 7.7: 8.8, 9: {10: 'ten', 11: 'eleven'}}
{1: 'one', 2: 'two', 3: 'three'}
{1: 'four', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two', 3: 'three', 4: 'one'}

In [51]:
# mutable and immutable keys
d = {1: 'one', 2: 'two', 3: 'three', 4: 'four'} # dictionary keys can not be mutable
print(d)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [55]:
# accessing items from a dictionary
d = {'Name': 'Haroon', 'Gender': 'Male', 'Age': '36', 'Class': 'AI'}
print(d['Age'])
print(d['Name'])
# get function
print(d.get('Gender'))

36
Haroon
Male

In [59]:
# adding key value pairs
d['Year'] = 2024
print(d)
d['Weight'] = 62
print(d)

{'Name': 'Haroon', 'Gender': 'Male', 'Age': '36', 'Class': 'AI', 'Year': 2024}
{'Name': 'Haroon', 'Gender': 'Male', 'Age': '36', 'Class': 'AI', 'Year': 2024, 'Weight': 62}

In [60]:
# remove key value pairs # pop, popitem, del, clear
d.pop('Weight')
print(d)
d.popitem()
print(d)
del d['Class']
print(d)
d.clear()
print(d)

{'Name': 'Haroon', 'Gender': 'Male', 'Age': '36', 'Class': 'AI', 'Year': 2024}
{'Name': 'Haroon', 'Gender': 'Male', 'Age': '36', 'Class': 'AI'}
{'Name': 'Haroon', 'Gender': 'Male', 'Age': '36'}
{}

In [81]:
# adding the dictionary key value pairs, name, gender, age, class, year, weight, and subjects of the students
d = {}
d['name'] = 'Haroon'
d['gender'] = 'male'
d['age'] = 36
d['class'] = 'AI'
d['year'] = 2024
d['weight'] = 62
d['subjects'] = {'maths: 87', 'physics: 93', 'chemistry: 79', 'biology: 83', 'computer science: 89'}
print(d)

{'name': 'Haroon', 'gender': 'male', 'age': 36, 'class': 'AI', 'year': 2024, 'weight': 62, 'subjects': {'biology: 83', 'physics: 93', 'chemistry: 79', 'computer science: 89', 'maths: 87'}}

In [94]:
d = {
'name' : 'Haroon',
'gender' : 'male',
'age' : 36,
'class': 'AI',
'year': 2024,
'weight': 62,
'subjects': {'maths: 87', 'physics: 93', 'chemistry: 79', 'biology: 83', 'computer science: 89'}}
d

{'name': 'Haroon',
 'gender': 'male',
 'age': 36,
 'class': 'AI',
 'year': 2024,
 'weight': 62,
 'subjects': {'biology: 83',
  'chemistry: 79',
  'computer science: 89',
  'maths: 87',
  'physics: 93'}}

In [102]:
s = {
    'name': 'haroon',
    'gender': 'male',
    'age': 36,
    'class': 'ai',
    'year': '2024',
    'subjects': {'maths': 87, 'physics': 93, 'chemistry': 79, 'computer science' : 89}
}
s

{'name': 'haroon',
 'gender': 'male',
 'age': 36,
 'class': 'ai',
 'year': '2024',
 'subjects': {'maths': 87,
  'physics': 93,
  'chemistry': 79,
  'computer science': 89}}

In [103]:
s['name']

'haroon'

In [104]:
s['subjects']['maths']

87

In [106]:
s['subjects']['ds'] = 90
s

{'name': 'haroon',
 'gender': 'male',
 'age': 36,
 'class': 'ai',
 'year': '2024',
 'subjects': {'maths': 87,
  'physics': 93,
  'chemistry': 79,
  'computer science': 89,
  'ds': 90}}

In [107]:
s['age'] = 37
s

{'name': 'haroon',
 'gender': 'male',
 'age': 37,
 'class': 'ai',
 'year': '2024',
 'subjects': {'maths': 87,
  'physics': 93,
  'chemistry': 79,
  'computer science': 89,
  'ds': 90}}

In [108]:
'name' in s

True

In [109]:
s.keys()

dict_keys(['name', 'gender', 'age', 'class', 'year', 'subjects'])

In [110]:
s.values()

dict_values(['haroon', 'male', 37, 'ai', '2024', {'maths': 87, 'physics': 93, 'chemistry': 79, 'computer science': 89, 'ds': 90}])

In [111]:
for i in d:
    print(i)

name
gender
age
class
year
weight
subjects

In [112]:
for i in d: 
    print(d[i])

Haroon
male
36
AI
2024
62
{'biology: 83', 'physics: 93', 'chemistry: 79', 'computer science: 89', 'maths: 87'}

In [113]:
for i in s:
    print(i, d[i])

name Haroon
gender male
age 36
class AI
year 2024
subjects {'biology: 83', 'physics: 93', 'chemistry: 79', 'computer science: 89', 'maths: 87'}

In [116]:
# len, max, min, sorted, reversed
print(len(s))
print(max(s))
print(min(s))
print(sorted(s))
print(reversed(s))

6
year
age
['age', 'class', 'gender', 'name', 'subjects', 'year']
<dict_reversekeyiterator object at 0x0000021C002A1760>

In [117]:
print(d.items())

dict_items([('name', 'Haroon'), ('gender', 'male'), ('age', 36), ('class', 'AI'), ('year', 2024), ('weight', 62), ('subjects', {'biology: 83', 'physics: 93', 'chemistry: 79', 'computer science: 89', 'maths: 87'})])

In [118]:
# dictionary comprehension
{key: values for key, values in s.items()}

{'name': 'haroon',
 'gender': 'male',
 'age': 37,
 'class': 'ai',
 'year': '2024',
 'subjects': {'maths': 87,
  'physics': 93,
  'chemistry': 79,
  'computer science': 89,
  'ds': 90}}

In [119]:
{i:i**2 for i in range(1, 11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [120]:
distances = {'lahore': 300, 'karachi': 1000, 'islamabad': 400, 'peshawar': 500, 'quetta': 800}
{key:value*0.62 for (key, value) in distances.items()}

{'lahore': 186.0,
 'karachi': 620.0,
 'islamabad': 248.0,
 'peshawar': 310.0,
 'quetta': 496.0}

In [121]:
days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
temperatures = [32, 33, 34, 35, 36, 37, 38]
{days[i]:temperatures[i] for i in range(len(days))}

{'monday': 32,
 'tuesday': 33,
 'wednesday': 34,
 'thursday': 35,
 'friday': 36,
 'saturday': 37,
 'sunday': 38}

In [124]:
products = {'apple': 100, 'banana': 50, 'orange': 80, 'mango': 120, 'grapes': 150}
{key:value for (key, value) in products.items() if value > 100}

{'mango': 120, 'grapes': 150}

In [126]:
{i:{j:i*j for j in range(1, 11)} for i in range(2, 5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}