In [10]:
# function for odd even
def is_even(num): # num is a parameter
    '''this function returns if a given number is odd or even'''
    if type(num) == int:
        if num % 2 == 0:
            return 'even'
        else:
            return 'odd'
    else:
        return 'not a number'

In [12]:
for i in range(1, 11):
    x = is_even(i) # i is an argument
    print(f'{i} is {x}')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [13]:
is_even('hello')

'not a number'

In [22]:

def power(a=1, b=1): # default values
    return a**b

In [18]:
power(3,2)

9

In [21]:
# positional arguments
power(b=2, a=4)

16

In [31]:
# *args and **kwargs
def multiply(*args): # we can define any name after the *
    product = 1

    for i in args:
        product = product * i
    return product

In [32]:
multiply(2,3,4,5,6,7,8,9,10,11,12,13,14,15)

1307674368000

In [33]:
is_even.__doc__ # to see the docstring of a function

'this function returns if a given number is odd or even'

In [34]:
# **kwargs
def disply(**kwargs):

    for (key, value) in kwargs.items():
        print(key, '->', value)

In [35]:
disply(india='delhi', usa='washington', uk='london', pakistan='islamabad')

india -> delhi
usa -> washington
uk -> london
pakistan -> islamabad

In [37]:
L = [1,2,3 ,4, 5, 6, 7, 8, 9, 10]
print(L.append(11))
print(L)

None
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [39]:
#global and local variables
def g(y):
    print(x)
    print(x + 1)
    
x = 5
g(x)
print(x)

5
6
5

In [40]:
def f(y):
    x = 1
    x += 1
    print(x)
x = 5
f(x)
print(x)

2
5

In [43]:
# changing the value of a global variable inside a function but is not recommended
def h(y):
    global x
    x += 1

x = 5
h(x)
print(x)

6

In [44]:
def f(x):
    x = x + 1
    print('in f(x): x =', x)
    return x

x = 3
z = f(x)
print('in main program scope: z =', z)
print('in main program scope: x =', x)

in f(x): x = 4
in main program scope: z = 4
in main program scope: x = 3

In [53]:
# Nested functions
def f():
    def g():
        print('inside function g')
    g()
    print('inside function f')

In [54]:
f()

inside function g
inside function f

In [55]:
def g(x):
    def h():
        x = 'abc'
    x = x + 1
    print('in g(x): x = ', x)
    h()
    return x
x = 3
z = g(x)

in g(x): x =  4

functions of first class citizens in python are functions that can be passed as arguments to other functions, returned as values from other functions, and assigned to variables and stored in data structures.

In [66]:
# fisrt class citizens functions
def square(num):
    return num**2

type(square)

a = 2
id(a)

140716215538504

In [62]:
# reassigning the function to a variable
x = square
id(x)
x(3)

9

In [63]:
a = 2 
b = a 
b

2

In [64]:
# deleting a function 
# del square

In [68]:
L = [1,2,3,4, square]
L[-1](3)

9

In [70]:
s = {square} # the square function is immutable
s

{<function __main__.square(num)>}

In [71]:
# returning a function from another function
def f():
    def x(a, b):
        return a+b
    return x

val = f()(3, 4)
print(val)

7

In [72]:
# function as an argument
def func_a():
    print('inside func_a')

def func_b(y):
    print('inside func_b')
    return y()

print(func_b(func_a))

inside func_b
inside func_a
None

In [3]:
# Lambda Functions
# Lambda is a small anonymous function, a lambda function can take any number of arguments, but can only have one expression. 
# difference between lambda and normal function is that lambda is a one liner function, it is not a named function, not reusable, 
#and it is used for small operations, it is used with map, filter, reduce, sorted, etc. and used with Higher Order Functions
a = lambda x: x**2
a(2)

4

In [4]:
a = lambda x,y : x+y
a(2,3)

5

In [5]:
# check if a string has 'a'
a = lambda s: 'a' in s
a('hello')

False

In [6]:
# odd or even
a = lambda x: 'even' if x%2 == 0 else 'odd'
a(6)

'even'

In [10]:
# Higher Order Functions are functions that take other functions as arguments or return functions as their result, 
def square(x):
    return x**2
# HOF
def transform(f,L):
    output = []
    for i in L:
        output.append(f(i))

    print(output)

L = [1,2,3,4,5]
transform(square, L) # passing a function as an argument

[1, 4, 9, 16, 25]

In [9]:
# Using lambda with HOF
def square(x):
    return x**2
# HOF
def transform(f,L):
    output = []
    for i in L:
        output.append(f(i))

    print(output)

L = [1,2,3,4,5]
# transform(lambda x: x**2, L) # calculating suqare of each element in the list
transform(lambda x: x**3, L) # calculating cube of each element in the list

[1, 8, 27, 64, 125]

In [11]:
# MAP, Filter, Reduce, Sorted
# MAP (square the items of a list) (map is a HOF, it expects two arguments, a function (lambda) and a list (iteratable)), 
# through map we can apply any logic to each element of a list, it returns a map object, 
map(lambda x: x**2, [1,2,3,4,5])

In [13]:
# we can convert it to a list
list(map(lambda x: x**2, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [14]:
# odd/even labelling of list items
L = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda x: 'even' if x%2 == 0 else 'odd', L))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [16]:
# fetch names from a list of dictionary
users = [{'name': 'john', 'age': 25, 'gender': 'male'}, 
     {'name': 'doe', 'age': 30, 'gender': 'female'}, 
     {'name': 'smith', 'age': 35, 'gender': 'male'},
     {'name': 'jane', 'age': 40, 'gender': 'female'}]

list(map(lambda users: users['name'], users))

['john', 'doe', 'smith', 'jane']

In [17]:
list(map(lambda users: users['age'], users))

[25, 30, 35, 40]

In [18]:
list(map(lambda users: users['gender'], users))

['male', 'female', 'male', 'female']

In [19]:
# Filter 
L = [3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

list(filter(lambda x: x%2 == 0, L)) # filter the items which are even

[4, 6, 8, 10, 12]

In [20]:
list(filter(lambda x: x>7, L)) # filter the items which are greater than 7

[8, 9, 10, 11, 12]

In [21]:
list(filter(lambda x: x==9, L)) # filter the items which are equal to 9

[9]

In [22]:
list(filter(lambda x: x<10,L)) # filter the items which are less than 10

[3, 4, 5, 6, 7, 8, 9]

In [23]:
# fetch fruits starting with 'a
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange']
list(filter(lambda x: x[0] == 'a', fruits))

['apple']

In [25]:
list(filter(lambda x: 'a' in x, fruits))

['apple', 'banana', 'mango', 'orange']

In [26]:
list(filter(lambda x: 'n' in x, fruits))

['banana', 'mango', 'orange']

In [27]:
list(filter(lambda x : len(x) > 5, fruits))

['banana', 'cherry', 'orange']

In [28]:
list(filter(lambda x: 'c' not in x, fruits))

['apple', 'banana', 'kiwi', 'mango', 'orange']

In [29]:
# Reduce
# from functools import reduce (can use to import reduct this or the below line)
import functools
functools.reduce(lambda x, y: x+y, [1,2,3,4,5])

15

In [30]:
# find minimum of a list
functools.reduce(lambda x,y:x if x < y else y, [14, 25, 64, 23, 22, 14, 12, 15, 16, 17, 18, 19, 20])

12

In [31]:
# find maximum of a list
functools.reduce(lambda x,y:x if x > y else y, [14, 25, 64, 23, 22, 14, 12, 15, 16, 17, 18, 19, 20])

64

In [34]:
# find equal to in a list
functools.reduce(lambda x,y:x if x%y == 0 else y, [14, 25, 64, 23, 22, 14, 12, 15, 16, 17, 18, 19, 20])

20

In [33]:
# find minimum of a list
from functools import reduce
reduce(lambda x,y:x if x < y else y, [14, 25, 64, 23, 22, 14, 12])

12